@import url("media.css");
.pp-main{
    padding: 52px 0 87px;
}
.pp-main__heading{
    margin-bottom: 37px;
    text-align: center;
}
.pp-main__paragraph{
    font-size: 18px;
    color: #000;
    line-height: 30px;
    margin-bottom: 54px;
}
.pp-main_titles{
    margin-bottom: 93px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px 30px;
}
.pp-main_titles__item{
    width: 165px;
    height: 40px;
    font-size: 16px;
    line-height: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F5F5F5;
    border-radius: 30px;
}
.pp-main_titles__item_active{
    background: var(--yellow);
    font-weight: 600;
}
.pp-main_titles-select{
    display: none;
    height: 40px;
    width: 100%;
    background: var(--yellow) url("../img/pp-select.png") no-repeat 95%;
    border-radius: 30px;
    text-indent: 20px;
    font-weight: 600;
    font-size: 16px;
    appearance: none;
    margin-bottom: 47px;
}
.pp-main_titles-select__item{
    background: #fff;
    font-size: 16px;
    font-weight: 400;
}
.pp-main_content__item{
    display: flex;
    flex-direction: column;
    gap: 29px;
}
.pp-main_content__img{
    cursor: pointer;
}
.popup-photo-printing_body{
    height: unset;
    width: 1140px;
    display: block;
}
.popup-style__close{
    position: static;
    margin-bottom: 20px;
}
.popup-style__close_nail{
    margin-left: auto;
}
.popup-style_slider{
    max-height: 230px;
}
.popup-style_slider-wrapper_btn{
    top: 40%;
}
.popup-style_slider-wrapper_btn_prev{
    left: -25px;
}
.popup-style_slider-wrapper_btn_next{
    right: -25px;
}
.popup-style_slider-wrapper{
    width: 100%;
    height: unset;
    position: relative;
}
.popup-style_slider__line{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.popup-photo-printing__img{
    width: 100%;
    max-height: 230px;
}

@media screen and (width <= 1200px){
    .pp-main_titles{
        gap: 20px;
        margin-bottom: 62px;
    }
    .pp-main_titles__item{
        height: 50px;
    }
    .popup-photo-printing_body{
        margin: 0 30px;
    }
    .popup-style_slider-wrapper_btn{
        width: 40px;
        height: 40px;
    }
    
}
@media screen and (width <= 710px){
    .pp-main{
        padding: 34px 0 69px;
    }
    .pp-main_titles{
        display: none;
    }
    .pp-main_titles-select{
        display: block;
    }
    .pp-main__heading{
        font-size: 22px;
        margin-bottom: 34px;
    }
    .pp-main__paragraph{
        font-size: 16px;
        margin-bottom: 39px;
    }
    .popup-photo-printing_body{
        width: 100% !important;
        margin: 0 15px;
    }
    .popup-style__close{
        width: 25px;
        height: 25px;
        background: var(--yellow);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0 11px auto;
    }
    .popup-style__close_nail{
        margin: 0;
    }
    .popup-style__close_nail::before,
    .popup-style__close_nail::after{
        background: var(--gray);
    }
    .popup-style_slider-wrapper_btn{
        top: -35px;
        left: 0;
        width: 25px;
        height: 25px;
        background: rgba(0, 0, 0, 0.4);
    }
    .popup-style_slider-wrapper_btn_next{
        left: 35px;
    }
    .slider-wrapper_btn__arrow{
        height: 16px;
        color: var(--yellow);
    }
    .popup-style_slider{
        height: unset;
    }
}